.timer {
    color: var(--white);
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}

.timer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer > div span:last-child {
    font-size: var(--fz12);
    color: var(--dark_gray);
    margin-top: 10px;
}
