.trip {
    cursor: pointer;
    width: 245px;
    min-width: 245px;
    border: 1px solid var(--primary_gray);
    margin-right: 50px;
}

.trip.active {
    border: 1px solid var(--blue);
}

.trip__img img {
    display: block;
    max-width: 100%;
    width: 100%;
    min-height: 225px;
    max-height: 225px;
    object-fit: cover;
}

.trip__info {
    padding: 25px;
}

.trip__destination {
    margin-bottom: 10px;
}

.trip__dates {
    color: var(--dark_gray);
    font-size: var(--fz12);
}
