body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

p {
    margin: 0;
    padding: 0;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout > div:last-child {
    flex-grow: 1;
}
