.header {
    background: rgb(17, 14, 56);
    text-align: center;
}

.header__logo {
    margin-bottom: 15px;
    padding-top: 15px;
}

.header__login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        align-items: center;
        background: unset;
    }

    .header__logo, .header__login {
        padding: 30px 0;
    }

    .header__logo {
        width: 65%;
        text-align: left;
        padding-left: 50px;
        margin-bottom: unset;
    }

    .header__login {
        width: 35%;
        background: rgb(17, 14, 56);
        justify-content: flex-end;
        padding-right: 50px;
    }
}
