.input_wrapper {
    height: 40px;
    position: relative;
    margin-bottom: 45px;
}

.input_wrapper select, .input_wrapper input {
    height: inherit;
    width: 100%;
    font-size: 20px;
    color: rgb(217, 217, 217);
    border: 1px solid rgb(217, 217, 217);
    padding: 0 5px;
}

.input_wrapper label {
    position: absolute;
    top: -25px;
    left: 0;
}

.input_wrapper label.required:before {
    content: '*';
    color: #f00;
}

.input_wrapper .error {
    font-size: 12px;
    color: #f00;
}

.form_btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 25px;
    margin: 0 -15px;
    border-top: 1px solid rgb(242, 244, 248);
}

.form_btns__btn {
    background: #fff;
    border: 1px solid rgb(242, 244, 248);
    padding: 10px 15px;
    cursor: pointer;
}

.form_btns__btn--submit {
    background: rgb(68, 142, 267);
    color: #fff;
}
